body {
  font-family: Roboto, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
    "D2 coding";
  background: linear-gradient(90deg, #078ba8 -20%, #a82054 100%);
}

/* gnb nav */
.gnb {
  height: 3.5rem;
  border-radius: 0.5rem;

  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.clock {
  height: 6rem;
  padding: auto;
}

.hidden {
  display: none;
}

.bgImage {
  /* background-image: url("../images/darkmode2.jpg"); */
  background-size: cover;

  width: 1080px;

  height: 800px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
